<ul>
  <% @text_files.each do |file| %>
    <li>
      <a class="file" href="/<%= file %>">
          <%= file %>
      </a>
       <div>
          <form action="/<%= file %>/edit" method="get">
            <button>Edit</button>
          </form>

          <form action="/<%= file %>/delete" method="post">
            <button>Delete</button>
          </form>

          <form action="/<%= file %>/duplicate" method="post">
            <button>Duplicate</button>
          </form>

          <% if @history[file] %>
            <a href="/<%= file %>/history">
              <button>History</button>
            </a>
          <% end %>
        </div>
    </li>
  <% end %>
</ul>

<ul>
  <% @images.each do |image| %>
    <li>
      <a class="image" href="/<%= image %>">
          <%= image %>
      </a>
       <div>
          <form action="/<%= image %>/delete" method="post">
            <button>Delete</button>
          </form>

          <form action="/<%= image %>/duplicate" method="post">
            <button>Duplicate</button>
          </form>
        </div>
    </li>
  <% end %>
</ul>


<% content_for :header_links do  %>
  <div class="header">
    <a href="/new">Create or upload a file</a>
  </div>
<% end %>

<% if session[:current_user] %>
  <form method="post" action="/users/signout">
    <p>
      Signed in as <em><%= session[:current_user] %></em>
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <form action="/users/signin" method="get">
    <button type="submit">
      Sign in | Register
    </button>
  </form>
<% end %>